.containerBox {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: url('/public/Svg/strip-img.svg') no-repeat center center/cover;
    display: flex;
    justify-content: center;

}

.marqueeTrack {
    display: flex;
    width: 100%;

}

.marqueeTrack img {
    width: 100%;
}


.UpperDiv {
    width: 100%;
    max-width: 1400px;
    display: flex;
    /* margin-top: 8%; */



}

.LeftSection {
    width: 40%;
    align-items: center;
    display: flex
}

.ContentDiv {
    /* padding-left: 20px; */
    position: absolute;
    width: 50%;
}

.Title {
    font-size: clamp(32px, 4.7vw, 90px);
    margin: 0;
    font-family: 'Arbotek black';
    line-height: 90px;
}


.Description {
    font-size: 18px;
    width: 70%;
    line-height: 26px;
}

.BtnDiv {
    margin-top: 2rem;
}

.RightSection {
    width: 60%;
    align-items: end;
    display: flex;
}

.RightImg {
    position: absolute;
    right: 0;
    text-align: end;
}

.RightImg img {
    width: 100%;
}

@media (max-width : 1600px) {
    .RightImg img {
        width: 75%;
    }
     .Title {
        line-height: 70px;
    }

}

@media (max-width : 1400px) {
    .RightImg img {
        width: 60%;
    }

}


@media (max-width : 600px) {
    .Title {
        line-height: normal;
    }
}