.containerBox {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marqueeTrack {
    display: flex;
    width: 100%;

}

.marqueeTrack img {
    width: 100%;
}


.UpperDiv {
    width: 100%;
    max-width: 1650px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
    right: 0;
}

.LeftSection {
    width: 40%;
}

.ContentDiv {
    /* padding-left: 20px; */
    position: absolute;
    width: 55%;
}

.Title {
    font-size: clamp(32px, 4.7vw, 90px);
    margin: 0;
    font-family: 'Arbotek black';
    line-height: 90px;
}


.Description {
    font-size: 18px;
    width: 70%;
    line-height: 26px;
}

.BtnDiv {
    margin-top: 2rem;
}

.RightSection {
    width: 60%;
}

.RightImg img {
    width: 100%;
}


@media (max-width : 600px) {
    .Title {
        line-height: normal;
    }
}