.sectionImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileframe {
  width: 280px;
  height: 600px;
  border: 12px solid #000;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  left: 40px;
 
}

.scrollingBg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: slideWithPause 6s linear forwards;
}

/* Scroll top → bottom + pause */
@keyframes slideWithPause {
  0%   { background-position: top; }
  70%  { background-position: center; }   /* slow scroll till middle */
  80%  { background-position: center; }   /* pause 1s */
  100% { background-position: bottom; }   /* continue to bottom */
}

/* Fade effect */
.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Header & Footer */
.headerImage,
.footerImage {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.headerImage { top: 0; }
.footerImage { bottom: 0; }

.headerImage img,
.footerImage img {
  width: 100%;
  height: auto;
  pointer-events: none;
}
/* Scroll down (default) */
@keyframes slideDownWithPause {
  0%   { background-position: top; }
  70%  { background-position: center; }
  80%  { background-position: center; }
  100% { background-position: bottom; }
}

/* Scroll up */
.scrollUp {
  animation: slideUpWithPause 2s linear forwards;
}

@keyframes slideUpWithPause {
  0%   { background-position: bottom; }
  70%  { background-position: center; }
  80%  { background-position: center; }
  100% { background-position: top; }
}

/* Base blink style */
.redBlinkClick {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #6524EB;
  border-radius: 50%;
  z-index: 3;
  animation: blink 0.5s linear 2; /* 2 बार blink */
}

/* Different blink positions */
.blinkCenter01 {
  top: 40%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}

.blinkBottom02 {
  top: 80%;
  left: 15%;
  margin-left: -10px;
  margin-top: -10px;
}
.blinkCenterNone{
  top: 80%;
  left: 15%;
  margin-left: -10px;
  margin-top: -10px;
  display: none;

}

/* Blink animation */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media  (max-width :1600px){

  .mobileframe {
  width: 220px;
  height: 440px;
  border: 8px solid #000;
  left: -25%;
 
 
}

  
}