.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.shape {
    display: block;
    height: auto;
    width: 100%;
}

/* Default centered text */
.btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 28px;
    font-family: 'Arboria Light';
    margin: 0;
    white-space: nowrap;
    pointer-events: none;
}

/* Flex content (text2 + logo) inside shape */

.flexContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 1rem;
    pointer-events: none;
}

.flexContent .logo {
    object-fit: contain;
}

.flexContent span {
    font-size: 35px;
    font-style: italic;
}

/* Shine effect */
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.6) 50%,
            rgba(255, 255, 255, 0.2) 100%);
    transform: skewX(-25deg);
}

.btn:hover {
    transform: scale(1.02);
}

.btn:hover::before {
    animation: shine 0.8s forwards;
}

@keyframes shine {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}