.TopSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: 1400PX;
    margin-inline: auto;
    margin-block: 1rem 1.5rem;
}

.LeftBar {
    width: 50%;
}

.subTitle {
    font-size: var(--subtitle-size);

}

.spanText {
    color: #6524EB;
}

.Title {
    font-size: var(--title-size);
    line-height: var(--title-line-height);
}

.RightBar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.RightDesc {
    font-size: 30px;
    width: 90%;
    text-align: end;


}

.tabsWrapper {
    padding: 8rem 0px 0px 0px;
}

.tabNav {
    display: flex;
    display: flex;
    align-items: center;
    gap: 5rem;
    border-bottom: 1px solid #eee;
    justify-content: center;
}

.tabButton {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 27px;
    cursor: pointer;
    color: #818181;
    position: relative;
    font-family: 'Arboria Medium';
}

/* Underline hamesha rahe, bas scale pe control */
.tabButton::after {
    content: "";
    position: absolute;
    height: 3px;
    background: #6524EB;
    width: 100%;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.tabButton.active {
    color: #6524EB;

}

.tabButton.active::after {
    transform: scaleX(1);
}

.tabContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    gap: 40px;
    margin-top: 5rem;
}

.left {
    flex: 1;
}

.left h2 {
    font-size: 40px;
    font-weight: 800;
    color: #24252C;
    margin-bottom: 2rem;
    width: 95%;
    font-family: 'Arbotek black';
}

.features {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    background-image: repeating-linear-gradient(to right, #C2C2C2, #C2C2C2 6px, transparent 0px, transparent 15px);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.featureItem {
    display: flex;
    align-items: center;
    gap: 18px;
}
.featureItem span{
    font-size: 20px;
}
.icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.quotediv {
    display: flex;
    align-items: baseline;
    gap: 18px;
}

.quote {
    font-size: var(--subtitle-size);
    color: #24252C;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Arbotek bold';
    margin-top: 0;

}

.discoverDiv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.link {
    color: #6524EB;
    font-size: 22px;    
    text-decoration: none;
    display: inline-block;     
    margin-block: 2rem;
}



.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.right img {
    width: 100%;
    border-radius: 10px;
}