.HeroMain {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 20px;
  position: relative;
  overflow: hidden;
  height: auto;
}

.heroBar {
  margin-top: 10rem;
  text-align: center;
}

.title {
  font-size: clamp(30px, 4.7vw, 90px);
  font-family: 'Arbotek black';
  line-height: 1;
  font-weight: 700;
  margin-inline: auto;
  color: #24252C;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.subtitle {
  font-size: 18px;
  color: #24252C;
  margin-top: 2rem;
  width: 30%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Ellipse Animation */
.Ellipse {
  position: absolute;
  top: -10%;
  left: 0px;
  animation: moveLeftRight 40s linear infinite;
}

.Ellipse img {
  width: 450px;
  pointer-events: none;
  user-select: none;
}

/* Keyframes moving left → right across parent */
@keyframes moveLeftRight {
  0% {
    left: 0px;
  }

  50% {
    left: calc(100%);
  }

  100% {
    left: 0px;
  }
}

@media(max-width:7000px) {
  .subtitle {
    width: 70%;
  }
}

@media(max-width:650px) {
  .title {
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }
}