.containerBox {
    margin-top: 10rem;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
/* Left accordion section */
.LeftSection{
    width: 50%;
    border: 1px solid;
}
.RightSection {
    width: 50%;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
    border: 5px solid #ffffff;
    border-radius: 20px;
}

.accordion {
    border-radius: 20px;
    padding: 1.5rem;



}

.Heading {
    font-size: 18px;
    margin-bottom: 2rem;
}

.item {
    /* backdrop-filter: blur(4px); */
    /* background-color: rgba(255, 255, 255, 0.836); */
    margin-bottom: 3rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.item.active {
    background: #6524EB;
    ;
    color: #fff;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    /* backdrop-filter: blur(4px); */
    /* background-color: transparent; */
    transition: background 0.3s ease;
}


.item.active .titleRow {
    background: transparent;
}

.question {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.item.active .question {
    color: #fff;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.item.active .icon {
    border: 1px solid #fff;
    color: #fff;
}

.item:not(.active) .icon {
    border: 1px solid #000;
    color: #000;
}

.contentWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 12px;
}

.contentWrapper.open {
    max-height: 200px;
    /* adjust based on expected content */
    padding: 0px 12px 15px;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    color: #ffff;
}