body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Arboria Light';
  src: url('/public/Fonts/fonnts.com-Arboria_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arboria Medium';
  src: url('/public/Fonts/fonnts.com-Arboria_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arboria Medium Italic';
  src: url('/public/Fonts/fonnts.com-Arboria_Medium_Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Arboria Thin';
  src: url('/public/Fonts/fonnts.com-Arboria_Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Arbotek Light';
  src: url('/public/Fonts/fonnts.com-Arbotek_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arbotek Light Rounded';
  src: url('/public/Fonts/fonnts.com-Arbotek_Light_Rounded.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Arbotek Thin';
  src: url('/public/Fonts/fonnts.com-Arbotek_Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Arbotek Ultra';
  src: url('/public/Fonts/fonnts.com-Arbotek_Ultra.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Arbotek black';
  src: url('/public/Fonts/fonnts.com-Arboria_Black.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Arbotek bold';
  src: url('/public/Fonts/fonnts.com-Arboria_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Arboria Medium', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #24252c;
  margin: 0;
      font-weight: 500;
      font-family: 'Arbotek bold';
}

:root {
  --subtitle-color: #24252c;
  --title-size: clamp(28px, 3.5vw, 50px);
  --title-line-height: calc(var(--title-size) * 1.1);
  --subtitle-size: clamp(18px, 3.5vw, 25px);
  --subtitle-line-height: calc(var(--subtitle-size) * 1.1);
}