.containerBox {
    margin-top: 2rem;
    margin-inline: auto;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-inline: 20px;
}

.FirstCard {
    width: 25%;
}

.Part1Img img {
    position: relative;
    bottom: -3px;
    width: 100%;
}

.Part1 {
    background-color: #F6F3FF;
    padding: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 40px;
}

.Part1 h3 {
    font-size: 25px;
    color: #24252C;
}

.Part1 p {
    font-size: 16px;
    color: #000000;
}

.watch {
    margin-top: 3rem;
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
        /* move slightly up */
    }

    100% {
        transform: translateY(0);
    }
}

.callIcon {

    animation: vibe 1s linear 1s infinite;
}

@keyframes vibe {
    0% {}

    2% {
        transform: translateX(5px) rotateZ(1deg);
    }

    4% {
        transform: translateX(-5px) rotateZ(-1deg);
    }

    6% {
        transform: translateX(3px) rotateZ(2deg);
    }

    8% {
        transform: translateX(-2px) rotateZ(-2deg);
    }

    10% {
        transform: translateX(1px) rotateZ(2deg);
    }

    12% {
        transform: translateX(-5px) rotateZ(-2deg);
    }

    14% {
        transform: translateX(3px) rotateZ(-1deg);
    }

    16% {
        transform: translateX(-5px) rotateZ(-2deg);
    }

    18% {
        transform: translateX(5px) rotateZ(2deg);
    }

    20% {
        transform: translateX(-5px) rotateZ(-2deg);
    }

    22% {
        transform: translateX(5px) rotateZ(2deg);
    }

    24% {
        transform: translateX(-3px) rotateZ(-2deg);
    }

    26% {
        transform: translateX(0px) rotateZ(0deg);
    }

    100% {}
}

.Part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 40px;
    border-radius: 40px;
    background-color: #FFFAE2;

}

.Part2 h3 {
    font-size: 25px;
    color: #24252C;
}


.SecondtCard {
    width: 50%;

}

.AnimatedBtnDiv {
    text-align: center;
}

.videoContainer {
    position: relative;
    /* width: 100%; */
    /* max-width: 600px; */
    height: 400px;
    margin-top: 4rem;
    border-radius: 32px;
    overflow: hidden;
    border: 1px solid #E5E5E5;
    padding: 1.5rem;
}

.thumbnailWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    height: 100%;
    /* fill container */
    object-fit: cover;
    /* or contain if you want full video visible */
    display: block;
    border-radius: 12px;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 39px;
    color: white;
    opacity: 0.8;
    pointer-events: none;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}


.ThirdtCard {
    width: 25%;

}

.Part3Img img {
    position: relative;
    bottom: -3px;
    width: 100%;
}

.Part3 {
    background-color: #FFEAF2;
    padding: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 40px;
}

.Part3 h3 {
    font-size: 25px;
    color: #24252C;
}

.Part3 p {
    font-size: 16px;
    color: #000000;
}

.watch2 {
    margin-top: 6rem;
}

.watch {
    margin-top: 6rem;
}



.Part4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 40px;
    border-radius: 40px;
    background-color: #EFF5DE;

}

.Part4 h3 {
    font-size: 25px;
    color: #24252C;
}

.MobSmarterDiv {
    display: none;
}

@media(max-width:1000px) {
    .container {
        /* flex-direction: column; */
    }

    .videoContainer {
        margin-top: 40px;
    }

    .FirstCard {
        width: 65%;
    }

    .SecondtCard {
        width: 65%;
        display: none;
    }

    .ThirdtCard {
        width: 65%;
    }
}

@media(max-width:650px) {
    .MobSmarterDiv {
        display: block;
    }

    .container {
        display: none;
    }

    .FirstCard {
        width: 100%;
    }

    .SecondtCard {
        width: 100%;
    }

    .ThirdtCard {
        width: 100%;
    }
}